@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

* {
    padding: 0;
    margin: 0
}

html {
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    max-width: 100%;
    background-image: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.container {
    max-width: 80vw;
    margin: 0 auto;

    &--body {
        max-width: 75vw;
    }

    &-solution {
        padding: 5rem 0;
        max-width: 100vw;
        padding-right: 1rem;
        text-align: center;

        h1 {
            color: white;
            margin-top: 2rem;
            font-size: 2rem;
            font-weight: 400;
        }
    }
}

.header {
    margin-top: 3rem;
    border: 4px solid hsl(217, 16%, 45%);
    border-radius: 10px;
    padding: 3rem 2rem;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;

    &__title {
        h1 {
            font-size: 2.4rem;
            font-weight: 700;
            color: white;
        }
    }

    &__score {
        background-color: #fff;
        width: 30%;
        text-align: center;
        border-radius: 10px;
        overflow: hidden;

        &-title {
            padding-top: 1rem;
            height: auto;
            display: block;
            font-size: 1.6rem;
            letter-spacing: .2rem;
            color: hsl(229, 64%, 46%);
        }

        &-points {
            display: flex;
            height: 100%;
            font-size: 4rem;
            justify-content: center;
            padding-top: -1rem;
            color: hsl(229, 25%, 31%);
        }
    }
}

.grid--112 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;

    .f-1l {
        grid-area: 1 / 1 / 2 / 2;
    }

    .f-1r {
        grid-area: 1 / 2 / 2 / 3;
    }

    .f-2d {
        grid-area: 2 / 1 / 3 / 3;
    }

}

.item {

    &--external {
        border-radius: 100%;
        padding: 2rem;
        cursor: pointer;
        box-shadow: 0px -7px 6px rgba(73, 81, 110, 0.479) inset;
        transition: all .1s;

        &:active {
            transform: scale(0.9);
        }

        img {
            border-radius: 100%;
            position: relative;
            box-shadow: 0px 7px 6px rgba(73, 81, 110, 0.479) inset;
            background-image: linear-gradient(to right, white, white);
        }
    }

    &--rock {
        display: flex;
            justify-content: center;
            align-items: center;

            .item--external {
                background-image: linear-gradient(to right, hsl(349, 71%, 52%), hsl(349, 70%, 56%));
            }

            img {
                padding: 1.5rem 1.5rem;
            }
    }

    &--paper {
        display: flex;
        justify-content: center;
        align-items: center;

        .item--external {
            background-image: linear-gradient(to right, hsl(230, 89%, 62%), hsl(230, 89%, 65%));
        }

        img {
            padding: 1rem 1.5rem;
        }
    }

    &--scissors {
        display: flex;
        justify-content: center;
        align-items: center;

        .item--external {
            background-image: linear-gradient(to right, hsl(39, 89%, 49%), hsl(40, 84%, 53%));
        }

        img {
            padding: 1rem 1.5rem;
        }
    }

    
}


.body {
    margin-top: 7rem;
    position: relative;

    &__imgbg {
        position: absolute;
        z-index: -1;
        height: 70%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}

.result{
    position: relative;

    @mixin after-content {
        content: ' ';
        display: inline-block;
        width: 130%;
        height: 190%;
        border-radius: 100%;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.082);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }

    .item--external::after{
       @include after-content();
    }
    .item--external::before{
        @include after-content();
        background-color: rgba(255, 255, 255, 0.068);
        height: 150%;
        width: 110% ;
    }
}

.message{
    margin-top: 8rem;
    h1{
        text-transform: uppercase;
        font-size: 5.5rem;
        letter-spacing: 3px;
    }
    button{
        margin-top: 1rem;
        height: auto;
        width: 60%;
        font-size: 2rem ;
        padding: 1rem 0;
        color: hsl(229, 25%, 31%) ;
        transition: all .3s;
        box-shadow: 0px 3px 10px hsla(0, 0%, 0%, 0.397);
        cursor: pointer;
        
        &:active{
            transform: translateY(5px);
        }
    }

}

.attribution {
    position: fixed;
    bottom: 1vh;
    font-size: 1.4rem;
    width: 100%;
    text-align: center;
    a{
        text-decoration: none;
        color: white;
    }
}

@media ( min-width:1335px) {
    
    .container{
        max-width: 30vw;

        &--body{
            max-width: 25vw;
        }

        &-solution{
            max-width: 25vw;
            margin: 0 auto;
            padding-top: 15rem;

            .item{
                &--external{
                    padding: 4rem;
                    img{
                        padding: 3.2rem;
                    }
                }
            }
        }
    }

    .body{
        &__imgbg{
            height: 85%;
            top: 15rem;
        }
    }
    .grid--112{
        column-gap: 8rem;
    }

    .result{
        .item--external::after{
            width: 150%;
            height: 150%;
        }
        .item--external::before{
            width: 120%;
            height: 120%;
        }
    }

    .message{
        margin-top: 5rem;
    }
   
}